<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.osbeorn.ct_challenge_2015.connected_cars" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".application.ConnectedCarsApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".activity.BluetoothActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BluetoothActivity" />
        </activity>

        <activity
            android:name=".activity.BluetoothActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_bluetooth"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:parentActivityName=".activity.BluetoothActivity"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BluetoothActivity" />
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.BluetoothActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BluetoothActivity" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name=".activity.FileListActivity"
            android:label="@string/title_activity_file_list"
            android:parentActivityName=".activity.BluetoothActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BluetoothActivity" />
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider882644665127289"
            android:exported="true" />

        <activity
            android:name=".activity.PostActivity"
            android:label="@string/title_activity_post" >
        </activity>

    </application>

</manifest>
